.topBar {
    display:inline-block;
    width: 500px;
    padding-left: -300px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: skyblue;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

.table {
    display: inline-block;
    width: 500px;
    background-color: powderblue;
}

.selection {
    width: 20px;
    text-align: center;
}

.title {
    width: 210px;
}

.date {
    width: 90px;
}

.priority {
    text-align: center;
    width: 90px;
}

.completed {
    text-align: center;
    width: 90px;
}



.edit {
    display: inline-block;
    width: 220px;
    background-color: powderblue;
    margin-left: 10px;
    padding: 5px;
}

    .edit .title {
        width: 100%;
    }

    .edit label {
        font-size: 15px;
    }



    .edit .date {
        width: 100%;
    }

    .edit .buttons {
        text-align: center;
    }

    .edit .buttonStl {
        width: 200px;
        margin-top: 10px;
    }
